.title {
	height: 10vh;
	color: #fff;
}

.centered
{
	text-align: center;
	position: relative;
	align-items: center;
	justify-content: center;
}

.games
{
	width: fit-content;
  	margin: 0 auto;
  	border: 2px solid gray;
  	padding: 10px;  
	
}

h1, h2, h3
{
	border-bottom: 0px solid black;
}